body, html, #pages {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
.hidden {
	display: none !Important;
}
.item-active {
	background-color: #aaf;
}
body {
	display: flex;
}
#nav {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
}
#pages {
	list-style-type: none;
}
#pages li {
	padding: 4px 8px;
}
#pages li.inactive {
	background-color: #ccc;
}
#pages li a, #pages li a:visited {
	color: #000;
	text-decoration: none;
}
#edit {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
#edit-container {
	width: calc(100% - 16px);
	margin: 4px 8px;
	flex-grow: 1;
}
#edit-buttons {
	display: flex;
}
#edit-buttons button {
	flex-grow: 1;
}
button {
	margin: 4px 8px;
}
textarea {
	white-space: pre-wrap;
}
#content {
	margin: 32px;
}
.sun-editor-editable {
	word-break: normal !Important;
}
.meta {
	margin: 4px 8px;
	display: grid;
	grid-template-columns: auto auto auto;
}
.meta input {
	grid-column: 2 / 4;
}
